<header class="lol-header">
  <div class="header-container">

    <div class="lol-brand">
      <link rel="icon" type="image/x-icon" href="League_of_Legends.ico">
      <a routerLink="/">
        <span class="gold-text">LEAGUE</span>OF<span class="gold-text">LEGENDS</span>
      </a>
    </div>

    <nav class="lol-nav">
      <ul>
        <li><a routerLink="/" routerLinkActive="active-link">Inicio</a></li>
        <li><a routerLink="/multiple-role" routerLinkActive="active-link">Multirol</a></li>
        <li><a routerLink="/contacto" routerLinkActive="active-link">Contacto</a></li>
      </ul>
    </nav>

    <div class="lol-actions">
      <link rel="icon" type="image/x-icon" href="League_of_Legends.ico">
    </div>

  </div>
</header>