<header class="lol-header">
  <div class="header-container">
    
    <div class="lol-brand">
      <link rel="icon" type="image/x-icon" href="League_of_Legends.ico">
      <a routerLink="/">
        <span class="gold-text">LEAGUE</span>OF<span class="gold-text">LEGENDS</span>
      </a>
    </div>

    <nav class="lol-nav">
      <ul>
        <li><a href="/" routerLinkActive="active-link">Inicio</a></li>
        <li><a href="/campeones" routerLinkActive="active-link">Campeones</a></li>
        <li><a href="/regiones" routerLinkActive="active-link">Regiones</a></li>
        <li><a href="/parches" routerLinkActive="active-link">Notas del Parche</a></li>
        <li><a href="/contacto" routerLinkActive="active-link">Contacto</a></li>
      </ul>
    </nav>

    <div class="lol-actions">
      <link rel="icon" type="image/x-icon" href="League_of_Legends.ico">
    </div>

  </div>
</header>