<footer class="lol-footer">
  <div class="footer-container">

    <div class="footer-grid">
      <div class="footer-col">
        <h4>SOPORTE</h4>
        <ul>
          <li><a href="#">Estado del Servidor</a></li>
          <li><a href="#">Reportar un Invocador</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>COMUNIDAD</h4>
        <ul>
          <li><a href="#">Discord Comunidad</a></li>
          <li><a href="#">Esports Oficial</a></li>
          <li><a routerLink="/tanques">Tanques</a></li>
        </ul>
      </div>
    </div>

    <div class="lol-divider"></div>

    <div class="footer-bottom">
      <p class="legal-text">
        &copy; 2026 LoLFanProject. Hecho por fans. League of Legends y Riot Games son marcas registradas de Riot Games,
        Inc.
      </p>
    </div>

  </div>
</footer>